<app-navbar></app-navbar>

<div class="d-flex align-items-center py-3" style="background-color:#1a1b1c;">
  <img src="assets/customLogo1.png" alt="Logo" style="height:50px; margin-left:15px;">
</div>

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="min-height: calc(107vh - 180px); /* thoda adjust kiya navbar+logo ke liye */
            background-image: url('assets/color2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">

  <div class="card shadow p-4 bg-white bg-opacity-75"
       style="width:420px; border-radius:10px;">

    <h3 class="text-center text-primary mb-4">
      <i class="fa-solid fa-right-to-bracket"></i> Login
    </h3>

    <div class="text-center mb-3">
      <h6 class="text-success" *ngIf="!form.error && form.message">{{ form.message }}</h6>
      <h6 class="text-danger" *ngIf="form.error && form.message">{{ form.message }}</h6>
    </div>

    <table class="table table-borderless">

      <tr>
        <th>
          <i class="fa-solid fa-user text-primary"></i> Login Id
          <span class="text-danger">*</span>
        </th>

        <td>
          <input type="text" class="form-control"
                 name="loginId"
                 [(ngModel)]="form.data.loginId"
                 placeholder="Enter Login ID">
        </td>

        <td class="text-danger small">
          {{form.inputerror.loginId}}
        </td>
      </tr>

      <tr>
        <th>
          <i class="fa-solid fa-lock text-danger"></i> Password
          <span class="text-danger">*</span>
        </th>
      
        <td>
          <input type="password" class="form-control"
                 name="password"
                 [(ngModel)]="form.data.password"
                 placeholder="Enter Password">
        </td>

        <td class="text-danger small">
          {{form.inputerror.password}}
        </td>
      </tr>
      <tr>
        <th></th>
        <td colspan="2">

          <button class="btn btn-primary me-2" (click)="signIn()">
            <i class="fa-solid fa-right-to-bracket"></i> Sign In
          </button>

          <button class="btn btn-success" (click)="signUp()">
            <i class="fa-solid fa-user-plus"></i> Sign Up
          </button>

        </td>
      </tr>
<br>
      <tr>
        <th></th>
        <td colspan="2">

          <a [routerLink]="['/forgetpassword']" class="text-decoration-none">
            <i class="fa-solid fa-key"></i> Forget my password?
          </a>

        </td>
      </tr>

    </table>

  </div>
</div>

<app-footer></app-footer>



<!-- <app-navbar></app-navbar>

<div align="center">

    <h1 align="center" style="margin-bottom: 5px; color: navy">Login</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">Login Id<span style="color: red">*</span></th>
            <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="Enter Login ID"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.loginId}}</td>
        </tr>

        <tr>
            <th align="left">Password<span style="color: red">*</span></th>
            <td><input type="password" name="password" [(ngModel)]="form.data.password" placeholder="Enter Password"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.password}}</td>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <td colspan="2">
                <button (click)="signIn()">Sign In</button>&nbsp;
                <button (click)="signUp()">Sign Up</button>
            </td>
        </tr>

        <tr>
            <th></th>
            <td></td>
        </tr>

        <tr>
            <th></th>
            <td><a [routerLink]="['/forgetpassword']"><b>Forget my password?</b></a>&nbsp;</td>
        </tr>
    </table>
</div>

<app-footer></app-footer> -->