<app-navbar></app-navbar>

<div align="center"
     style="min-height: 90vh;
            padding: 40px;
            background-image: url('assets/whit.jpg');
            background-size: cover;
            background-position: center;">

    <h1 *ngIf="!form.data.id" style="margin-bottom: 10px; color: navy">
        <i class="fas fa-history"></i> Add LoginHistory
    </h1>

    <h1 *ngIf="form.data.id>0" style="margin-bottom: 10px; color: navy">
        <i class="fa-solid fa-pen-to-square"></i> Update LoginHistory
    </h1>

    <!-- Message -->
    <div style="height: 25px; margin-bottom: 15px;">
        <h3 class="text-success m-0" *ngIf="!form.error && form.message">
            {{ form.message }}
        </h3>
        <h3 class="text-danger m-0" *ngIf="form.error && form.message">
            {{ form.message }}
        </h3>
    </div>

    <!-- Table Form -->
    <table class="table table-bordered shadow"
           style="background: white; border-radius: 10px; width: 420px; overflow: hidden;">

        <!-- historyCode -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-indian-rupee-sign"></i>
                HistoryCode <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="text"
                       class="form-control form-control-sm"
                       name="historyCode"
                       [(ngModel)]="form.data.historyCode"
                       placeholder="Enter historyCode">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">
                {{form.inputerror.historyCode}}
            </td>
        </tr>

        <!-- userName  -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-percent"></i>
                UserName <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="text"
                       class="form-control form-control-sm"
                       name="userName"
                       [(ngModel)]="form.data.userName"
                       placeholder="Enter UserName">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">
                {{form.inputerror.userName}}
            </td>
        </tr>

        <!-- loginTime -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-calendar-days"></i>
                LoginTime <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="time"
                       class="form-control form-control-sm"
                       name="loginTime"
                       [(ngModel)]="form.data.loginTime"
                        placeholder="Enter loginTime">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">
                {{form.inputerror.loginTime}}
            </td>
        </tr>

           <!-- Status -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-calendar-days"></i>
                Status <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="text"
                       class="form-control form-control-sm"
                       name="status"
                       [(ngModel)]="form.data.status"
                        placeholder="Enter status">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">
                {{form.inputerror.status}}
            </td>
        </tr>

        <!-- Button -->
        <tr>
            <td></td>
            <td class="p-3">
                <button class="btn btn-primary btn-sm px-4"
                        (click)="submit()">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
            </td>
        </tr>

    </table>
</div>

<app-footer></app-footer>