<app-navbar></app-navbar>

<div align="center">
    <h1 *ngIf="!form.data.id" align="center" style="margin-bottom: 5px; color: navy">Add Event</h1>
    <h1 *ngIf="form.data.id>0" align="center" style="margin-bottom: 5px; color: navy">Update Event</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">ParticipantName<span style="color: red">*</span></th>
            <td><input type="text" name="participantName" [(ngModel)]="form.data.participantName" placeholder="Enter participantName"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.participantName}}</td>
        </tr>

        <tr>
            <th align="left">eventName<span style="color: red">*</span></th>
            <td><input type="text" name="eventName" [(ngModel)]="form.data.eventName" placeholder="Enter eventName"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.eventName}}</td>
        </tr>

        <tr>
            <th align="left">Email<span style="color: red">*</span></th>
            <td><input type="email" name="email" [(ngModel)]="form.data.email" placeholder="Enter Email" style="width: 97%;"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.email}}</td>
        </tr>

        <tr>
            <th align="left">registrationDate<span style="color: red">*</span></th>
            <td><input type="date" name="registrationDate" [(ngModel)]="form.data.registrationDate" placeholder="Enter registrationDate" style="width: 97%;"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.registrationDate}}</td>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">save</button> &nbsp;
            </td>
        </tr>
    </table>
</div>

<app-footer></app-footer>