<app-navbar></app-navbar>

<br><br><br>

<div align="center"
     style="min-height: 90vh;
            padding: 30px;
            background-image: url('assets/whit.jpg');
            background-size: cover;
            background-position: center;">

    <!-- Heading -->
    <h1 *ngIf="!form.data.id" style="margin-bottom: 10px; color: navy">
        <i class="fa-solid fa-droplet"></i> Add Blood Donation
    </h1>

    <h1 *ngIf="form.data.id>0" style="margin-bottom: 10px; color: navy">
        <i class="fa-solid fa-pen"></i> Update Blood Donation
    </h1>

    <!-- Message -->
    <div style="height: 25px; margin-bottom: 15px;">
        <h3 class="text-success m-0" *ngIf="!form.error && form.message">
            {{ form.message }}
        </h3>
        <h3 class="text-danger m-0" *ngIf="form.error && form.message">
            {{ form.message }}
        </h3>
    </div>

    <!-- Form Table -->
    <table class="table table-bordered shadow"
           style="background:white; border-radius:10px; width:420px; overflow:hidden;">

        <!-- Donor Name -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-user"></i>
                Donor Name <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="text"
                       class="form-control form-control-sm"
                       name="donorName"
                       [(ngModel)]="form.data.donorName"
                       placeholder="Enter Donor Name">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">{{form.inputerror.donorName}}</td>
        </tr>

        <!-- Blood Group -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-tint"></i>
                Blood Group <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <select class="form-select form-select-sm"
                        [(ngModel)]="form.data.bloodGroup"
                        name="bloodGroup">

                    <option value="undefined">------------Select------------</option>

                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">{{form.inputerror.bloodGroup}}</td>
        </tr>

        <!-- Donation Date -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-calendar"></i>
                Donation Date <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="date"
                       class="form-control form-control-sm"
                       name="donationDate"
                       [(ngModel)]="form.data.donationDate">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">{{form.inputerror.donationDate}}</td>
        </tr>

        <!-- Contact -->
        <tr>
            <th class="text-start p-2">
                <i class="fa-solid fa-phone"></i>
                Contact Number <span class="text-danger">*</span>
            </th>
            <td class="p-2">
                <input type="text"
                       class="form-control form-control-sm"
                       name="contactNumber"
                       [(ngModel)]="form.data.contactNumber"
                       placeholder="Enter Contact Number">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-danger small">{{form.inputerror.contactNumber}}</td>
        </tr>

        <!-- Button -->
        <tr>
            <td></td>
            <td class="p-3">
                <button class="btn btn-danger btn-sm px-4"
                        (click)="submit()">
                    <i class="fa-solid fa-heart"></i> Save
                </button>
            </td>
        </tr>

    </table>
</div>

<app-footer></app-footer>