<app-navbar></app-navbar>

<div align="center">
    <h1 *ngIf="!form.data.id" align="center" style="margin-bottom: 5px; color: navy">Add PlantNursery</h1>
    <h1 *ngIf="form.data.id>0" align="center" style="margin-bottom: 5px; color: navy">Update PlantNursery</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">PlantName<span style="color: red">*</span></th>
            <td><input type="text" name="plantName" [(ngModel)]="form.data.plantName" placeholder="Enter plantName"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.plantName}}</td>
        </tr>

        <tr>
            <th align="left">Category<span style="color: red">*</span></th>
            <td><input type="text" name="category" [(ngModel)]="form.data.category" placeholder="Enter category"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.category}}</td>
        </tr>

        <tr>
            <th align="left">quantity<span style="color: red">*</span></th>
            <td><input type="text" name="quantity" [(ngModel)]="form.data.quantity" placeholder="Enter quantity" style="width: 97%;"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.quantity}}</td>
        </tr>


        <tr></tr>

        <tr>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">save</button> &nbsp;
            </td>
        </tr>
    </table>
</div>

<app-footer></app-footer>