<nav *ngIf="isLogin()" class="navbar navbar-expand-lg navbar-dark bg-dark">

<!-- Logo -->

<a class="navbar-brand" href="#" style="margin-left:25px;"> <img src="assets/customLogo1.png" height="40px"></a>
   


<div style="padding-left:5px;" class="d-flex flex-wrap gap-2">

<!-- User -->

<div class="dropdown">
<button class="btn btn-outline-light btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-users"></i> User
</button>

<ul class="dropdown-menu">
<li><a routerLink="/user" class="dropdown-item"><i class="fa-solid fa-user-plus"></i> Add User</a></li>
<li><a routerLink="/userlist" class="dropdown-item"><i class="fa-solid fa-list"></i> User List</a></li>
</ul>
</div>

<!-- Role -->

<div class="dropdown">
<button class="btn btn-outline-info btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-user-shield"></i> Role
</button>

<ul class="dropdown-menu">
<li><a routerLink="/role" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Role</a></li>
<li><a routerLink="/rolelist" class="dropdown-item"><i class="fa-solid fa-list"></i> Role List</a></li>
</ul>
</div>

<!-- Loan -->

<div class="dropdown">
<button class="btn btn-outline-warning btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-hand-holding-dollar"></i> Loan
</button>

<ul class="dropdown-menu">
<li><a routerLink="/loan" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Loan</a></li>
<li><a routerLink="/loanlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Loan List</a></li>
</ul>
</div>

<!-- Travel -->

<div class="dropdown">
<button class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-plane"></i> Travel
</button>

<ul class="dropdown-menu">
<li><a routerLink="/travel" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Travel</a></li>
<li><a routerLink="/travellist" class="dropdown-item"><i class="fa-solid fa-route"></i> Travel List</a></li>
</ul>
</div>

<!-- Gym -->

<div class="dropdown">
<button class="btn btn-outline-success btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-dumbbell"></i> Gym
</button>

<ul class="dropdown-menu">
<li><a routerLink="/gym" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Gym</a></li>
<li><a routerLink="/gymlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Gym List</a></li>
</ul>
</div>

<!-- Holiday -->

<div class="dropdown">
<button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-calendar-days"></i> Holiday
</button>

<ul class="dropdown-menu">
<li><a routerLink="/holiday" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Holiday</a></li>
<li><a routerLink="/holidaylist" class="dropdown-item"><i class="fa-solid fa-list"></i> Holiday List</a></li>
</ul>
</div>

<!-- Speaker -->

<div class="dropdown">
<button class="btn btn-outline-info btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-microphone"></i> Speaker
</button>

<ul class="dropdown-menu">
<li><a routerLink="/speaker" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Speaker</a></li>
<li><a routerLink="/speakerlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Speaker List</a></li>
</ul>
</div>

<!-- PlantNursery -->

<div class="dropdown">
<button class="btn btn-outline-success btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-seedling"></i> PlantNursery
</button>

<ul class="dropdown-menu">
<li><a routerLink="/PlantNursery" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add PlantNursery</a></li>
<li><a routerLink="/PlantNurserylist" class="dropdown-item"><i class="fa-solid fa-list"></i> PlantNursery List</a></li>
</ul>
</div>


<!-- Event -->

<div class="dropdown">
<button class="btn btn-outline-info btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-calendar-week"></i> Event
</button>

<ul class="dropdown-menu">
<li><a routerLink="/Event" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Event</a></li>
<li><a routerLink="/Eventlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Event List</a></li>
</ul>
</div>


<!-- Reward -->

<div class="dropdown">
<button class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-award"></i> Reward
</button>

<ul class="dropdown-menu">
<li><a routerLink="/reward" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Reward</a></li>
<li><a routerLink="/rewardlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Reward List</a></li>
</ul>
</div>

<!-- Rejection -->

<div class="dropdown">
<button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-person-booth"></i> Rejection
</button>

<ul class="dropdown-menu">
<li><a routerLink="/rejection" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Rejection</a></li>
<li><a routerLink="/rejectionlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Rejection List</a></li>
</ul>
</div>

<!-- BloodDoantion -->

<div class="dropdown">
<button class="btn btn-outline-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-hand-holding-droplet"></i> BloodDonation
</button>

<ul class="dropdown-menu">
<li><a routerLink="/BloodDonation" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Blood_Donation</a></li>
<li><a routerLink="/BloodDonationlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Blood_Donation List</a></li>
</ul>
</div>

<!-- Security -->

<div class="dropdown">
<button class="btn btn-outline-info btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-calendar-week"></i> Security
</button>

<ul class="dropdown-menu">
<li><a routerLink="/Security" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Security</a></li>
<li><a routerLink="/Securitylist" class="dropdown-item"><i class="fa-solid fa-list"></i> Security List</a></li>
</ul>
</div>

<!-- NotificationTemplate -->

<div class="dropdown">
<button class="btn btn-outline-info btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-calendar-week"></i> NotificationTemplate
</button>

<ul class="dropdown-menu">
<li><a routerLink="/NotificationTemplate" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add NotificationTemplate</a></li>
<li><a routerLink="/NotificationTemplatelist" class="dropdown-item"><i class="fa-solid fa-list"></i> NotificationTemplate List</a></li>
</ul>
</div>

<!-- Limit -->

<div class="dropdown">
<button class="btn btn-outline-warning btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-martini-glass-citrus"></i> Limit
</button>

<ul class="dropdown-menu">
<li><a routerLink="/limit" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Limit</a></li>
<li><a routerLink="/limitlist" class="dropdown-item"><i class="fa-solid fa-list"></i> Limit List</a></li>
</ul>
</div>

<!-- Purge -->

<div class="dropdown">
<button class="btn btn-outline-info btn-sm dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa-solid fa-calendar-week"></i> Purge
</button>

<ul class="dropdown-menu">
<li><a routerLink="/purge" class="dropdown-item"><i class="fa-solid fa-plus"></i> Add Purge</a></li>
<li><a routerLink="/purgelist" class="dropdown-item"><i class="fa-solid fa-list"></i> Purge List</a></li>
</ul>
</div>

<!-- Change Password -->

<a routerLink="/changepassword" class="btn btn-warning btn-sm">
<i class="fa-solid fa-key"></i> Change Password
</a>

<!-- Logout -->

<a (click)="logout()" class="btn btn-danger btn-sm"> <i class="fa-solid fa-right-from-bracket"></i> Logout </a>

</div>

</nav>

