<app-navbar></app-navbar>

<div align="center">
    <h1 *ngIf="!form.data.id" align="center" style="margin-bottom: 5px; color: navy">Add Speaker</h1>
    <h1 *ngIf="form.data.id>0" align="center" style="margin-bottom: 5px; color: navy">Update Speaker</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">SpeakerName<span style="color: red">*</span></th>
            <td><input type="text" name="speakerName" [(ngModel)]="form.data.speakerName" placeholder="Enter speakerName"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.speakerName}}</td>
        </tr>

        <tr>
            <th align="left">Topic<span style="color: red">*</span></th>
            <td><input type="text" name="topic" [(ngModel)]="form.data.topic" placeholder="Enter topic"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.topic}}</td>
        </tr>

        <tr>
            <th align="left">organization<span style="color: red">*</span></th>
            <td><input type="text" name="organization" [(ngModel)]="form.data.organization" placeholder="Enter organization" style="width: 97%;"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.organization}}</td>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">save</button> &nbsp;
                
            </td>
        </tr>
    </table>
</div>

<app-footer></app-footer>